<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mailjet Data</title>
    <style type="text/css">
        .three-columns .column {
            width:33%;
            float:left;
        }
    </style>
    <script>
    function contactGet($scope, $http) {
        $http({method: 'GET', url: 'js/data.json'}).success(function(data){
            $scope.mydata= data.Data;
        });
    }
    </script>
</head>
<body ng-app ng-controller="contactGet">
<div class="three-columns">
    <h1>Mailjet Contact Manager Demo</h1>
    There are {{mydata.length}} records <br>
        <div id="clm1" class="column">
            <div ng-repeat="data in mydata"> {{$index+1}}. Name is {{mydata[$index].Name}}
            </div>
        </div>
        <div id="clm2" class="column">
            <div ng-repeat="data in mydata"> {{$index+1}}. Email is {{mydata[$index].Email}}
            </div>
        </div>
        <div id="clm3" class="column">
            <div ng-repeat="data in mydata"> {{$index+1}}. LastUpdateAt is {{mydata[$index].LastUpdateAt}}
            </div>
        </div>             
</div>
<script src="vendor/angular/angular.js"></script>
</body>
</html>